{% if site.enable_tooltips %}
  <!-- Enable Tooltips -->
  <script type="text/javascript">
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
  </script>
{%- endif %}
{%- if site.enable_medium_zoom %}
  <!-- Medium Zoom JS -->
  <script src="https://cdn.jsdelivr.net/npm/medium-zoom@{{ site.medium_zoom.version }}/dist/medium-zoom.min.js" integrity="{{ site.medium_zoom.integrity }}" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/zoom.js' | relative_url }}"></script>
{%- endif -%}

  <!-- Load Common JS -->
  <script src="{{ '/assets/js/common.js' | relative_url }}"></script>

  <!-- Neural Network Background -->
  <script src="{{ '/assets/js/neural-network-bg.js' | relative_url }}"></script>

  <!-- Scroll Animations -->
  <script src="{{ '/assets/js/scroll-animations.js' | relative_url }}"></script>

  <!-- Easter Eggs -->
  <script src="{{ '/assets/js/easter-eggs.js' | relative_url }}"></script>
